*.pyc
MANIFEST
build/*
dist/*
*.cache/
.coverage
.coveragerc
htmlcov/*
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.pdfsync
*.synctex.gz
*.toc
*.swp
*.asv
*.nav
*.snm
*.bib.bak
*.fls
*.m~
*.sublime*
.DS_Store
*puf.csv
*tax_func_loop_inputs_large.pkl
*/OUTPUT/*
envs/
*.egg-info/
*dask-worker-space*
.ipynb_checkpoints*
*/__pycache__/*
docs/book/_build/*
docs/build*
*micro_data_*.pkl
examples/OG-USA_example_plots/*
examples/ogusa_example_output.csv
examples/OG-USA-Example/*
cs-config/cs_config/OUTPUT_BASELINE/*
data/csv_output_files/*
data/images/*
data/PSID/psid_lifetime_income.csv
ogusa/csv_output_files/*
ogusa/images/*
.vscode/
*default.profraw
