name: Build and Deploy Jupyter Book documentation
on:
  push:
    branches:
      - master
jobs:
  build-and-deploy:
    if: github.repository == 'PSLmodels/OG-USA'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniforge-variant: Mambaforge
          activate-environment: ogusa-dev
          environment-file: environment.yml
          python-version: "3.10"
          auto-activate-base: false

      - name: Build # Build Jupyter Book
        shell: bash -l {0}
        run: |
          pip install jupyter-book>=0.11.3
          pip install sphinxcontrib-bibtex>=2.0.0
          pip install -e .
          python -m ipykernel install --user --name=ogusa-dev
          cd docs
          jb build ./book

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages # The branch the action should deploy to.
          FOLDER: docs/book/_build/html # The folder the action should deploy.
