name: Publish package to PyPI

on:
  push:
    branches:
      - master

jobs:
  deploy:
    name: Publish to PyPI
    if: github.repository == 'PSLmodels/OG-USA'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Build package
        run: make pip-package
      - name: Publish a Python distribution to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI }}
          skip_existing: true
